/*#wrapper
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
}*/

#wrapper {
  margin-bottom: 5rem;
  padding-bottom: 5rem;
}

body
{
	background-image: url(../img/Background_9_C.jpg);
	font-family: 'Eczar', serif;
}

.dropdown-menu
{
/*	padding: 0 var(--bs-dropdown-padding-x);*/
}

.bg-custom-gradient
{
	background: rgb(0,214,241);
	background: -moz-linear-gradient(95deg, rgba(0,214,241,1) 20%, rgba(0,247,138,1) 100%);
	background: -webkit-linear-gradient(95deg, rgba(0,214,241,1) 20%, rgba(0,247,138,1) 100%);
	background: linear-gradient(95deg, rgba(0,214,241,1) 20%, rgba(0,247,138,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00d6f1",endColorstr="#00f78a",GradientType=1);
}

.btn-custom-gradient
{
	background: rgb(0,214,241);
	background: -moz-linear-gradient(95deg, rgba(0,214,241,1) 20%, rgba(0,247,138,1) 100%);
	background: -webkit-linear-gradient(95deg, rgba(0,214,241,1) 20%, rgba(0,247,138,1) 100%);
	background: linear-gradient(95deg, rgba(0,214,241,1) 20%, rgba(0,247,138,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00d6f1",endColorstr="#00f78a",GradientType=1);
	border: 0;
	color: #222222;
}

#AccountTab
{
	background: rgb(0,214,241);
	background: -moz-linear-gradient(95deg, rgba(0,214,241,1) 20%, rgba(0,247,138,1) 100%);
	background: -webkit-linear-gradient(95deg, rgba(0,214,241,1) 20%, rgba(0,247,138,1) 100%);
	background: linear-gradient(95deg, rgba(0,214,241,1) 20%, rgba(0,247,138,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00d6f1",endColorstr="#00f78a",GradientType=1);
}

#AccountTab .nav-link { font-weight: bold; }
#AccountTab .nav-link:not(.active) { color: #ffffff; }

.page-title
{
	position: relative;
	z-index: 1;
	background-image: url(../img/page-title.png);
	background-position: center;
}

.page-title:before
{
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, .6);
	z-index: -1;
}

.breadcrumb .breadcrumb-item:last-child { color: rgb(0,214,241); text-shadow: 1px 1px 1px #000; }

/***** Breadcrumb Section *****/
.breadcrumb-item+.breadcrumb-item::before
{
  font-family: bootstrap-icons !important;
  content: '\F231';
  color: #ffffff;
}